<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=localhost;Port=3306;Database=winformscms;Uid=root;Pwd=root;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LocalDomainName" value="jon.com" />
    <add key="LocalFolder" value="C:\projects\kuyajon.com" />
    <add key="ThemeFile" value="C:\projects\kuyajon.com\themes\default.html" />
  </appSettings>
</configuration>